body {
  font-family: Arial, sans-serif;
  height: 125vh;
  background-image: url('https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg');
  background-size: cover;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  text-align: center;
  color: #555;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 5px solid #6d0101;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(181, 207, 203);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 620px; /* Set width for small video */
  height: 320px;
  margin: 20px auto; /* Center container */
}

video {
  width: 85%;
  height: auto;
}


